{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}
{% block javascript %}
<script src="{{ asset('js/scriptpanier.js') }}" defer></script>
{% endblock %}
{% block body %}
    {% block content %}

<section class="container_panier">
<div class="panier">
<h1 class="titre_panier">Panier</h1>
  <table class="customers">
      <thead>
        <tr>
          <th>ARTICLES</th>
          <th>QUANTITE</th>
          <th>PRIX UNITAIRE</th>
          <th>PRIX TOTAL</th>
        </tr>
      </thead>
      <tbody id="zone">
     
          
 
      </tbody>
      <tfoot><tr><td id="bas" colspan="3"></td><td><span id="total">...</span></td></tr></tfoot>
    </table>
    <br>
    <form action="finalisation.php" method="post">
    <input type="hidden" name="liste" id="liste">
    <input type="submit" value="VALIDER" class="valider">
  </form>
    </div>
    </section>

{% endblock %}
{% endblock %}
