{% extends 'base.html.twig' %}

{% block title %}Edit Manif{% endblock %}

{% block body %}
    <h1>Edit Manif</h1>

    {{ include('manif/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_manif_index') }}">back to list</a>

    {{ include('manif/_delete_form.html.twig') }}
{% endblock %}
