

/* TABLEAU SALLES */
*
{margin:0;padding:0;
box-sizing:border-box}


a
{margin:0;
transition:all .4s;
-webkit-transition:all .4s;
-o-transition:all .4s;
-moz-transition:all .4s}

a:focus
{outline:none!important}

a:hover
{text-decoration:none}

h1,h2,h3,h4,h5,h6
{margin:0}

p
{margin:0}

ul,li
{margin:0;
list-style-type:none}

input
{display:block;
outline:none;
border:none!important}

textarea
{display:block;
outline:none}

textarea:focus,input:focus
{border-color:transparent!important}

button
{outline:none!important;
border:none;
background:0 0}

button:hover
{cursor:pointer}

iframe
{border:none!important}

.limiter
{width:100%;
margin:0 auto}

.container-table100
{width:100%;
min-height:100vh;
display:-webkit-box;
display:-webkit-flex;
display:-moz-box;
display:-ms-flexbox;
display:flex;
align-items:center;
justify-content:center;
flex-wrap:wrap;
padding:33px 30px}

.wrap-table100{width:960px;
border-radius:10px;
overflow:hidden}

.table
{width:100%;
display:table;
margin:0}

@media screen and (max-width:768px)
{.table
    {display:block}
}

.row
{display:table-row;
background:#f3f3f3}

.row.header
{color:#fff;
background:#E35A50}

@media screen and (max-width:768px)
{.row
{display:block}

.row.header
{padding:0;
height:0}

.row.header .cell
{display:none}

.row .cell:before
{font-size:12px;
color:gray;
line-height:1.2;
text-transform:uppercase;
font-weight:unset!important;
margin-bottom:13px;
content:attr(data-title);
min-width:98px;
display:block}
}

.cell
{display:table-cell}

@media screen and (max-width:768px)
{.cell
    {display:block}
}

.row .cell
{
    font-family: sans-serif;
line-height:1.2;
padding-top:20px;
padding-bottom:20px;
border-bottom:1px solid #f2f2f2}

.row.header .cell
{font-size:18px;
color:#fff;
line-height:1.2;
font-weight:unset!important;
padding-top:19px;
padding-bottom:19px}

.row .cell:nth-child(1)
{width:360px;
padding-left:40px}

.row .cell:nth-child(2)
{width:160px}

.row .cell:nth-child(3)
{width:250px}

.row .cell:nth-child(4)
{width:190px}

.table,.row
{width:100%!important;}

.row:hover
{cursor:pointer;}

@media(max-width:768px)
{.row
    {border-bottom:1px solid #f2f2f2;
        padding-bottom:18px;
        padding-top:30px;
        padding-right:15px;
        margin:0}

.row .cell
{border:none;
    padding-left:30px;
    padding-top:16px;
    padding-bottom:16px}

.row .cell:nth-child(1)
{padding-left:30px}

.row .cell
{font-size:18px;
color:#555;
line-height:1.2;
font-weight:unset!important}

.table,.row,.cell
{width:100%!important}}



/* ACCUEIL */

body {
  margin: 0px;
  background-image: url(../img/back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -250px;
  background-attachment: fixed;
  color: black;
}


nav ul {
    margin: 0px;
    padding: 0px;
    list-style:none;
}

nav a {
    text-align:center;
    text-decoration: none;
}

nav .menu {
    display: flex; /*1*/
    flex-direction : row; /*2*/
    justify-content: flex-end; /*3*/
    margin-top: 40px;
}

li {
	margin-right: 3%;
    font-size: 20px;
    font-family: sans-serif;
}

a {
    color: white;
}

a:hover {
	text-decoration: underline;
}

.presentation {
  padding-left: 120px;
  padding-top: 80px;
  color: white;
}



.trinity {
    margin-bottom: 60px;
    color: #F2745E;
}



h1 {
  font-family: sans-serif;
  font-size: 40px;
  padding: 10px;
}

#nav-form {
	background-color: white;
	color: white;
	padding: 10px;
	position: relative;
	margin: auto;
	width: 55%;
	margin-top: 80px;
    height: 135px;
    z-index: 100;
    -webkit-box-shadow: 0px 8px 12px -4px rgba(0,0,0,0.21); 
    box-shadow: 0px 8px 12px -4px rgba(0,0,0,0.21);
}


 input[type=search] {
    width: 50%;
    padding: 8px;
    border: 1px solid #ccc !important;
    border-radius: 100px;
    box-sizing: border-box;
    margin-top: 40px;
    resize: vertical;
    margin-left: 25%;
}


#bouton_recherche {
    background-color: #E35A50;
    color: white;
    padding: 5px 40px;
    border: none;
    margin-top: 20px;
    border-radius: 100px;
    margin-left: 40%;
}

.section_theatre {
    background-color: white;
    height: 750px;
    width: 100%;
    position: relative;
    bottom: 72px;
}



.titre_theatre {
    padding-top: 80px;
    font-size: 30px;
    margin: 0px;
    margin-left: 25px;
}



.titanic_flex {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.titanic1 {
    margin-left: 150px;
}

.titanic_img {
    width: 350px;
}

.bouton_titanic {
  background-color: white;
  color: rgb(0, 0, 0);
  padding: 5px 40px;
  margin-top: 10px;
  border-radius: 100px;
  margin-left: 30%;
  box-shadow: 0px 8px 12px -4px rgba(0,0,0,0.21);
  border: 1px solid black;
}

.bouton_titanic:hover {
    background-color: #E35A50;
    color: white;

}

.text_theatre {
    margin-left: 90px;
    margin-right: 160px;
    margin-top: 40px;
    font-size: 18px;
    text-align: justify;
    font-family: sans-serif;
}

.theatre_lien {
    color: black;
    margin-left: 48%;
    text-decoration: none;
    position: relative;
    bottom: 20px;
}

.theatre_lien:hover {
    text-decoration: underline;
}

/*section concert*/
.section_concert {
  background-color: white;
  height: 700px;
  width: 100%;
  position: relative;
}

.titre_concert {
  padding-top: 40px;
    font-size: 30px;
    margin: 0px;
    margin-left: 25px;
}


.concert_flex {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.text_concert {
    font-size: 18px;
    text-align: justify;
    font-family: sans-serif;
    margin-right: 125px;
    margin-left: 90px;
    margin-top: 30px;
}

.concert_img {
    margin-right: 150px;
}

.concert_lien {
    margin-left: 10%;
    color: black;
    text-decoration: none;
    bottom: 21px;
    position: relative;
}

.concert_lien:hover {
    text-decoration: underline;
}

.titre_spectacle {
  padding-top: 40px;
  font-size: 30px;
  margin: 0px;
  margin-left: 25px;
}

.section_cinema {
  background-color: white;
  height: 700px;
  width: 100%;
  position: relative;
  top: 60px;
}

.section_spectacle {
  background-color: white;
  height: 700px;
  width: 100%;
  position: relative;
  top: 120px;
}

/*Page manifestations
    ->section_manifs*/

    .section_manifs {
      background-color: rgb(0 0 0 / 40%);
      width: 100%;
      backdrop-filter: blur(5px);
      position: relative;
      bottom: 105px;
  }
  
  
  /*card-container pour la page manifestation*/
  
  #card_container{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0px 100px;
      margin-top: 40px;
      top: 160px;
      position: relative;
  }
  
  
  .image_card img{
      display: flex;
      justify-content: center;
      margin: auto;
      /* border-radius: 20px; */
          height: 340px;
          width: 316px;
      padding-top: 5px;
      transform: scale(1);
      transition: .3s ease-in-out;
  }
  
  
  .image_card:hover img{
      transform: scale(1.02);
  }
  
  .event_card{
      background: white;
      width: 325px;
      height: 500px;
      border-radius: 5px;
      margin: 10px;
      margin-bottom: 60px;
      border: 1px solid;
  }
  
  .event_card:hover{
      box-shadow: rgba(10, 10, 11, 0.2) 0px 8px 28px 0px;
  }
  
  .event_card:hover {
      border-radius: 0px;
      transition: all 0.2s;
  }
  
  .info_crad {
      background-color: white;
  }
  
  .titre_card{
      font-weight: bolder;
      font-family: sans-serif;
      font-size: 22px;
      margin: 4px;
      margin-top: 10px;
      margin-left: 36px;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-height: 27px;
      width: 253px;
  }
  
  .genre_card .prix_card{
      text-align: center;
      font-family: cursive;
      background-color: white;
      color: rgb(3, 2, 101);
      padding: 10px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      height: 90px;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .genre_card {
      background-color: #DC5A50;
      color: white;
      width: 110px;
      text-align: center;
      margin-left: 30px;
      border-radius: 20px;
      font-size: 20px;
      font-family: sans-serif;
  }
  
  .prix_card {
      position: relative;
      width: 52px;
      margin-left: 223px;
      border-radius: 20px;
      text-align: center;
      bottom: 23.5px;
      background-color: #DC5A50;
      color: white;
      font-size: 20px;
  }
  
  .lien_card {
      position: relative;
      font-family: sans-serif;
      color: black;
      background-color: white;
      padding: 5px 40px;
      border-radius: 100px;
      margin-left: 30%;
      text-decoration: none;
      border: 1px solid black;
      top: 10px;
  }
  
  .lien_card:hover {
      background-color: #E35A50;
      color: white;
      box-shadow: 0px 8px 12px -4px rgba(0,0,0,0.21);
      border: 1px solid black;
      text-decoration: none;
  }
  
  /*Page détail des affiches*/
  
  .section_detail {
      display: grid;
      grid-template-columns: 1fr auto;
      background-color: white;
      height: 1000px;
      width: 100%;
      position: relative;
      bottom: 60px;
  }
  
  #page_detail {
      position: relative;
      top: 15%;
      margin-left: 40px;
  }
  
  .image_detail {
      height: 744px;
      width: 472px;
      margin: auto;
      margin-left: 60px;
      position: relative;
      top: 8%;
  }
  
  .date_detail {
      position: relative;
      font-family: sans-serif;
  }
  
  .titre_detail {
      font-family: sans-serif;
      font-size: 30px;
  }
  
  .genre_detail {
      margin-left: 20px;
      font-size: 20px;
      color: red;
  }
  
  .descript_detail {
      font-size: 18px;
      margin-top: 160px;
      margin-left: 100px;
      margin-right: 100px;
      font-family: sans-serif;
      font-weight: 100;
  }
  
  #ajout {
      background-color: #E35A50;
      font-size: 15px;
      color: white;
      padding: 10px 18px;
      margin-top: 4px;
      border-radius: 9px;
      position: relative;
    border: 1px solid white;
    bottom: 15px;
  }
  
  #ajout:hover {
      background-color: #E35A50;
      color: white;
      box-shadow: 0px 8px 12px -4px rgb(0 0 0 / 21%);
  }
  
  .customers {
      position: relative;
      left: 630px;
      height: 100px;
      bottom: 170px;
      border: 2px solid #E35A50;
      border-radius: 20px;
      text-align: center;
      color: white;
      width: 560px;
  }
  
  .reserver_titre {
      font-family: sans-serif;
      font-size: 20px;
      color: #E35A50;
  }
  
  .place_detail {
      color: #E35A50;
      position: relative;
      font-size: 18px;
      top: 3px;
      font-family: sans-serif;
  }
  
  #qte {
      width: 40px;
      color: white;
      background-color: #E35A50;
      font-size: 20px;
      border: 1px solid;
      font-family: sans-serif;
      border-radius: 5px;
      padding: 5px 5px;
      margin-right: 20px;
      position: relative;
      top: 24px;
      right: 38px;
  }
  
  #prix{
    position: relative;
    bottom: 30px;
    right: 4px;
    color: #000000;
    font-family: sans-serif;
  }

/*Footer*/
  
.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #fefefe;
  background-color: #E35A50;
  border-top: 1px solid black;
    position: relative;
    top: 30vh;
}

.footer > * {
  flex:  1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 25px;
  font-weight: bold;
}

.footer address {
  font-style: normal;
  color: whitesmoke;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 100px;
  color: #ffffff;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
  font-size: 15px;
}

.footer a {
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer__nav {
  display: flex;
  flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: rgb(255, 255, 255);
}
  
@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }
  
  .nav__item--extra {
    flex-grow: 2;
  }
  
  .footer__addr {
    flex: 1 0px;
  }
  
  .footer__nav {
    flex: 2 0px;
  }
}

 
/*JB NULLLLL*/
  /*PANIER*/

  .container_panier{
    background-color: #fff;
    height: 1030px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .panier{
    margin-top: 10%;
  }

  .valider{
    padding: 2%;
    background-color: #E35A50;
    color: white;
    padding: 5px 40px;
    border: none;
    margin-top: 20px;
    border-radius: 100px;
    margin-left: 40%;
    cursor: pointer;
  }

  .plus, .moins{
    background: #E35A50;
    padding: 2px;
    border-radius: 5px;
  }

  .titre_panier{
text-align: center;
margin: auto;
  }

  /*SALLE*/

  .table_salle{
    margin-top: 5%;
  }
  



/*=============== REGISTER/LOGIN ===============*/

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(244, 75%, 57%);
  --second-color: hsl(249, 64%, 47%);
  --title-color: hsl(244, 12%, 12%);
  --text-color: hsl(244, 4%, 36%);
  --body-color: hsl(208, 97%, 85%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: sans-serif;
  --h2-font-size: 1.25rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --h2-font-size: 1.75rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  background-color: var(--body-color);
  font-family: var(--body-font);
  color: var(--text-color);
}

input,
button {
  font-family: var(--body-font);
  border: none;
  outline: none;
}

img.login_img {
  max-width: 100%;
  height: auto;
}

/*=============== LOGIN FORM ===============*/
.login_content,
.login_form,
.login_inputs{
  display: grid;
}

#registration_form{
  display: grid;
}

.login_content{
  position: relative;
  height: 100vh;
  align-items: center;
}

.login_img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.login_form{
  position: relative;
  background-color: hsl(244, 16%, 92%, .6);
  border: 2px solid hsl(244, 16%, 92%, .75);
  margin-inline: 1.5rem;
  row-gap: 1.25rem;
  backdrop-filter: blur(20px);
  padding: 2rem;
  border-radius: 1rem;
}

#registration_form{
  position: relative;
  background-color: hsl(244, 16%, 92%, .6);
  border: 2px solid hsl(244, 16%, 92%, .75);
  margin-inline: 1.5rem;
  row-gap: 1.25rem;
  backdrop-filter: blur(20px);
  padding: 2rem;
  border-radius: 1rem;
}

.login_title{
  color: var(--title-color);
  font-size: var(--h2-font-size);
  margin-bottom: .5rem;
}

.login_title span{
  color: var(--first-color);
}

.login_description{
  font-size: var(--small-font-size);
}

.login_inputs{
  row-gap: .75rem;
  margin-bottom: .5rem;
}

.login_label{
  display: block;
  color: var(--title-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: .25rem;
}

label.required{
  display: block;
  color: var(--title-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: .25rem;
}
.login_input {
  width: 100%;
  padding: 14px 12px;
  border-radius: 6px;
  border: 2px solid var(--text-color);
  background-color: hsl(244, 16%, 92%, .6);
  color: var(--title-color);
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  transition: border .4s;
}

#login_input {
  width: 100%;
  padding: 14px 12px;
  border-radius: 6px;
  border: 2px solid var(--text-color);
  background-color: hsl(244, 16%, 92%, .6);
  color: var(--title-color);
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  transition: border .4s;
}

#inputPassword {
  width: 100%;
  padding: 14px 12px;
  border-radius: 6px;
  border: 2px solid var(--text-color);
  background-color: hsl(244, 16%, 92%, .6);
  color: var(--title-color);
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  transition: border .4s;
}

#inputEmail {
  width: 100%;
  padding: 14px 12px;
  border-radius: 6px;
  border: 2px solid var(--text-color);
  background-color: hsl(244, 16%, 92%, .6);
  color: var(--title-color);
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  transition: border .4s;
}



input#registration_form_plainPassword {
  width: 100%;
  padding: 14px 12px;
  border-radius: 6px;
  border: 2px solid var(--text-color);
  background-color: hsl(244, 16%, 92%, .6);
  color: var(--title-color);
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  transition: border .4s;}

  input#registration_form_email {
    width: 100%;
    padding: 14px 12px;
    border-radius: 6px;
    border: 2px solid var(--text-color);
    background-color: hsl(244, 16%, 92%, .6);
    color: var(--title-color);
    font-size: var(--smaller-font-size);
    font-weight: var(--font-medium);
    transition: border .4s;}

.login_input::placeholder {
  color: var(--text-color);
}
#login_input::placeholder {
  color: var(--text-color);
}

#inputPassword::placeholder {
  color: var(--text-color);
}

#inputEmail::placeholder {
  color: var(--text-color);
}


input#registration_form_plainPassword::placeholder {
  color: var(--text-color);


}
.login_input:focus,
.login_input:valid{
  border: 2px solid var(--first-color);
}
#inputPassword:focus,
#inputPassword:valid{
  border: 2px solid var(--first-color);
}

#inputEamil:focus,
#inputEmail:valid{
  border: 2px solid var(--first-color);
}


input#registration_form_plainPassword:focus{
  border: 2px solid var(--first-color);

}

input#registration_form_email:focus{
  border: 2px solid var(--first-color);

}

.login_box{
  position: relative;
}

.login_box, .login_input{
  padding-right: 36px;
}

#login_input{
  padding-right: 36px;
}


#inputPassword{
  padding-right: 36px;
}

#inputEmail{
  padding-right: 36px;
}


input#registration_form_email {
  padding-right: 36px;

}

input#registration_form_plainPassword {
  padding-right: 36px;

}
.login_eye{
  width: max-content;
  height: max-content;
  position: absolute;
  right: .75rem;
  top: 0;
  bottom: 0;
  margin: auto 0;
  font-size: 1.25rem;
}

.login_check{
  display: flex;
  column-gap: .5rem;
  align-items: center;
}

input#registration_form_agreeTerms{
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid var(--text-color);
  background-color: rgba(232, 231, 238, 0.555);
  border-radius: .25rem;}

.login_check-input{
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid var(--text-color);
  background-color: rgba(232, 231, 238, 0.555);
  border-radius: .25rem;
}

.login_check-input:checked{
  background: var(--first-color);
}

input#registration_form_agreeTerms:checked{
  background: var(--first-color);

}

.login_check-input:checked::before{
  content: '✔';
  display: block;
  color: #fff;
  font-size: .75rem;
  transform: translate(1.5px, -2.5px);
}

input#registration_form_agreeTerms:checked::before{
  content: '✔';
  display: block;
  color: #fff;
  font-size: .75rem;
  transform: translate(1.5px, -2.5px);
}

.login_check-label{
  font-size: var(--small-font-size);
}

.login_buttons{
  display: flex;
  column-gap: .75px;
}

.login_button{
  width: 100%;
  padding: 14px 2rem;
  border-radius: 6px;
  background: linear-gradient(180deg, var(--first-color), var(--second-color));
  color: #fff;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  box-shadow: 0 6px 24px hsl(244, 75%, 48%, .5) ;
  margin-bottom: 1rem;
  cursor: pointer;
}

.login_button-ghost{
  background: hsl(244, 16%, 92%, .6);
  border: 2px solid var(--first-color);
  color: var(--first-color);
  box-shadow: none;
}

.login_forgot{
  font-size: var(--smaller-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--first-color);
  text-decoration: none;
}
/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 360px){
  .login_buttons{
    flex-direction: column;
  }
}

/* For medium devices */
@media  screen and (min-width:576px ) {
  .login_form{
    width: 450px;
    justify-self: center;
  }
  #registration_form{
    width: 450px;
    justify-self: center;
  }
}


/* For large devices */
@media  screen and (min-width: 1064px) {
  .container_form{
    height: 130vh;
    display: grid;
    place-items: center;
  }

  .login_content{
    width: 1024px;
    height: 800px;
    margin: auto;
  }

  .login_img{
    border-radius: 3.5rem;
    box-shadow: 0 24px 48px hsla(244, 75%, 36%, .45);
  }

  .login_form{
    justify-self: flex-end;
    margin-right: 4.5rem;
  }

  #registration_form{
    justify-self: flex-end;
    margin-right: 4.5rem;
  }
}

@media sreen and (min-width: 1200px) {
  .login_content{
    height: 700px;
  }
  
  .login_form{
    row-gap: 2rem;
    padding: 3rem;
    border-radius: 1.25rem;
    border: 2.5px solid hsla(244, 16%, 92%, .75);
  }

  #registration_form{
    row-gap: 2rem;
    padding: 3rem;
    border-radius: 1.25rem;
    border: 2.5px solid hsla(244, 16%, 92%, .75);
  }

  .login_description,
  .login_label,
  .login_button{
    font-size: var(--normal-font-size);
  }

  label.required{
    font-size: var(--normal-font-size);

  }

  .login_inputs

{
    row-gap: 1.25rem;
    margin-bottom: .75rem;
  }

  .login_input{
    border: 2.5px solid var(--text-color);
    padding: 1rem;
    font-size: var(--small-font-size);
  }

  #login_input{
    border: 2.5px solid var(--text-color);
    padding: 1rem;
    font-size: var(--small-font-size);
  }

  #inputPassword{
    border: 2.5px solid var(--text-color);
    padding: 1rem;
    font-size: var(--small-font-size);
  }
  #inputEmail{
    border: 2.5px solid var(--text-color);
    padding: 1rem;
    font-size: var(--small-font-size);
  }
  
  input#registration_form_plainPassword:focus{
    border: 2.5px solid var(--first-color);

  }

  input#registration_form_plainPassword:valid{
    border: 2.5px solid var(--first-color);

  }
  
  input#registration_form_email:focus{
    border: 2.5px solid var(--first-color);

  }

  input#registration_form_email:valid{
    border: 2.5px solid var(--first-color);

  }

  .login_input:focus,
  .login_input:valid{
    border: 2.5px solid var(--first-color);
  }

  #login_input:focus,
  #login_input:valid{
    border: 2.5px solid var(--first-color);
  }
  #inputEmail:focus,
  #inputEmail:valid{
    border: 2.5px solid var(--first-color);
  }
  #inputPasswors:focus,
  #inputPassword:valid{
    border: 2.5px solid var(--first-color);
  }

  .login_button{
    padding-block: 1rem;
    margin-bottom: 1.25rem;
  }

  .login_button-ghost{
    border: 2.5px solid var(--first-color);
  }
}


