{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<header>
<nav>
   <a href="accueil">Accueil</a> ,
        <a href="salle">Lieux</a> ,
        <a href="manif">Manifestations</a> ,
        <a href="panier">Panier:<span id='panier'>0</span></a> ,
        <a href="login">Connexion</a> ,
        <a href="admin">Administration</a> , 
        </nav>
        </header>
<h1>Page Admin hehe</h1>
{% endblock %}
