{% extends 'base.html.twig' %}

{% block title %}Edit DataUser{% endblock %}

{% block body %}
    <h1>Edit DataUser</h1>

    {{ include('data_user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_data_user_index') }}">back to list</a>

    {{ include('data_user/_delete_form.html.twig') }}
{% endblock %}
