{% extends 'base.html.twig' %}

{% block title %}New DataUser{% endblock %}

{% block body %}
    {% block content %}
        <div class="login_register_wrap section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-md-10">
                        <div class="login_wrap">
                            <div class="padding_eight_all bg-white">
                                <div class="heading_s1">
                                    <h3>Coordonnées</h3>
                                </div>

                                <div class="content">

                                        {{ include('data_user/_form.html.twig') }}
                                    <a  href="{{ path('app_accueil') }}">Retour Accueil</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}

{% endblock %}
