{% extends 'base.html.twig' %}

{% block title %}Salle index{% endblock %}

{% block body %}
<head>
<link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
</head>
<body>

<section class="container_panier">
<div class="table_salle">
<div class="limiter">
<div class="container-table100">
<div class="wrap-table100">
<div class="table">
<div class="row header">
<div class="cell">
                NOM
                </div>
<div class="cell">
                CAPACITE
                </div>
<div class="cell">
                ADRESSE
</div>
</div>
     
        {% for salle in salles %}
            <div class="row">
<div class="cell" data-title="Full Name">
                {{ salle.nom }}
                </div>
<div class="cell" data-title="Age">
                {{ salle.capacite }}
                </div>
<div class="cell" data-title="Job Title">
                {{ salle.adresseRue }}
                </div>
</div>

           
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </section>
    </body>

{% endblock %}
